/* Estilos para el contenedor raíz de la aplicación */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Estilos para el elemento con la clase 'logo' */
.logo {
  height: 6em;
  padding: 1.5em;
  background-color: #8B4513;
  color: #fff;
  font-family: 'Cursive', cursive;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer; /* Cambia el cursor al pasar sobre el logo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Efecto de escala al pasar el mouse sobre el logo */
.logo:hover {
  transform: scale(1.1);
}

/* Efecto de rotación específico para el logo con la clase 'react' */
.logo.react:hover {
  transform: rotate(360deg);
}

/* Estilos para el elemento con la clase 'card' */
.card {
  padding: 2em;
  background-color: #D2B48C;
  border: 2px solid #8B4513;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

/* Efecto de escala al pasar el mouse sobre la tarjeta */
.card:hover {
  transform: scale(1.05);
}

/* Estilos para el texto con la clase 'read-the-docs' */
.read-the-docs {
  color: #888;
  font-style: italic;
  margin-top: 10px; /* Espacio superior */
}
